{% extends 'base.html.twig' %}

{% block title "Créer une recette" %}

{% block body %}
    <h1>Créer une nouvelle recette</h1>

    <form method="POST" action="{{ path('recipe.create') }}">
    {{ form(form) }}
    </form>
{% endblock %}